---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

#search-input {
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
  }
  
  #results-container {
    list-style-type: none;
    padding-left: 0;
  }
  .search-tag {
    background: #e0f0ff;
    padding: 4px 8px;
    margin-right: 4px;
    border-radius: 5px;
    font-size: 0.85rem;
    text-decoration: none;
    color: #0366d6;
  }
  
  .search-tag:hover {
    background: #cce7ff;
  }
  #hidden-search-input{
    display: none;
  }

  .social-share {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap: 10px;
  }
  
  .social-share .social-icon svg {
    fill: currentColor;
    transition: transform 0.2s ease;
  }
  
  .social-share .social-icon:hover svg {
    transform: scale(1.2);
    color: #0366d6;
  }
  .subscription-box {
    // margin: 2em 0;
    padding: 1.5em;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
  }
  
  .subscription-box h3 {
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .subscription-box form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    input[type="text"] {
      padding: 0.5rem;
      border-radius: 4px;
      border: 1px solid #ccc;
      font-size: 1rem;
    }
  }
  
  .subscription-box input[type="email"] {
    padding: 0.6em;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: inherit;
  }
  
  .subscription-box input[type="submit"] {
    background-color: #0366d6;
    color: white;
    border: none;
    padding: 0.6em;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    font-family: inherit;
  }
  
  .subscription-box input[type="submit"]:hover {
    background-color: #024ea2;
  }

  .series-box {
    border: 1px solid #ddd;
    padding: 1em;
    margin-top: 2em;
    background: #f9f9f9;
    border-radius: 5px;
  }
  
  .series-box h3 {
    margin-top: 0;
  }

  .space {
    margin-top: 1.5em; 
  }
  
  
